{% extends 'base.html' %}

{% block content %}
    <h2>{{ brand_name }} {{ model_name }}</h2>

    <img src="{{ image_url }}" alt="{{ model_name }}" class="img-fluid mb-3">

    <p><strong>Brand:</strong> {{ brand_name }}</p>
    <p><strong>Model:</strong> {{ model_name }}</p>
    <p><strong>Year:</strong> {{ car_year }}</p>
    <p><strong>Price per day:</strong> {{ price }} BGN</p>
    <p><strong>Availability:</strong>
        <span class="badge {{ availability_class }}">
            {{ availability }}
        </span>
    </p>
    <p><strong>Features:</strong> {{ features_list }}</p>
    <hr>
    <h4>Customer Reviews</h4>

{% if average_rating %}
    <p>
        Average Rating:
        {% for i in "12345" %}
            {% if forloop.counter <= average_rating %}
                <span class="text-warning">&#9733;</span>
            {% else %}
                <span class="text-muted">&#9733;</span>
            {% endif %}
        {% endfor %}
        ({{ average_rating }}/5)
    </p>
{% endif %}

{% if reviews %}
    {% for review in reviews %}
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <strong>{{ review.customer_name }}</strong>

                {% for i in "12345" %}
                    {% if forloop.counter <= review.rating %}
                        <span class="text-warning">&#9733;</span>
                    {% else %}
                        <span class="text-muted">&#9733;</span>
                    {% endif %}
                {% endfor %}

                <p class="mb-1">{{ review.content }}</p>
                <small class="text-muted">{{ review.created_at|date:"d M Y H:i" }}</small>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>No reviews yet.</p>
{% endif %}

    <a href="{% url 'common:add-review' pk=car.pk %}" class="btn btn-outline-dark mt-2">
        Leave a Review
    </a>
    <a href="{% url 'cars:car-update' car.pk %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'cars:car-delete' car.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'cars:car-list' %}" class="btn btn-secondary">Back to list</a>
{% endblock %}